.top-nav .ant-menu {
  background-color: transparent !important;
}

.forum-header {
  background-image: linear-gradient(to right, #2568F6, #804CDA) !important;
  color: white !important;
  height: 188px;

  .ant-card-body::before {
    z-index: 0;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://github.githubassets.com/static/images/icons/spotlight/plus-pattern.svg");
    mix-blend-mode: soft-light;
    background-position: 20px 20px;
    background-size: 35px;
    opacity: .5;
  }

  .ant-card-body {
    height: 100%;
    z-index: 1;
    display: flex;
    align-content: flex-end;
    justify-content: flex-start;
    align-items: flex-end;

    .forum-header-content {
      .category {
        font-size: 13px;
        opacity: .7;
      }

      .title {
        font-size: 20px;
        font-weight: 600;
      }

      .author {
        font-size: 13px;

        img {
          width: 20px;
          height: 20px;
          border-radius: 12px;
          margin-right: 10px;
        }
      }
    }
  }
}

.forum-menu {
  width: 100%!important;
  border-right: none !important;
  background: transparent!important;
  .ant-menu-item {
    display: flex;
    align-items: center;
    border-radius: 8px;
  }
  .ant-menu-item-selected {
    background-color: #0d57f5!important;
    color: #FFF!important;
  }
}

.forum-list-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .item-main-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .item-extra-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .list-item-vote {
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 30px;
    border: 1px solid #00000011;
    margin-right: 20px;
  }
  .list-item-topic-outer {
    background-color: #00000015;
    width: 42px;
    height: 42px;
    border-radius: 8px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .list-item-meta {
    .title {
      font-size: 14px;
      font-weight: 500;
    }
    .description {
      font-size: 12px;
      opacity: .8;
    }
  }
}

.emoji-picker {
  .ant-popover-inner {
    overflow: hidden!important;
  }
  .ant-popover-inner-content {
    padding: 0!important;
  }

  .slot-container {
    display: flex;
    flex-direction: row;

    .slot {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      width: 32px;
      height: 32px;
    }
    .slot:hover {
      background-color: #00000011;
    }
  }
}
.top-nav {
  .ant-menu-item-active, .ant-menu-item-selected {
    border-bottom: 2px solid transparent!important;
  }
}

.custom-card {

}
